body {
    background-image: url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/1406990/915b1b4a05133186525a956d7ca5c142a3c3c9f3.webm);
    /* background-size:100vw 100vh; */
    background-origin: content-box;
    overflow-x: hidden
}

.background.video {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    position: fixed;
    z-index: -9999;
}

.interface {
    left: 50%;
    width: 1080px;
    min-height: 720PX;
    color: #fff;
    position: relative;
    background: #ffffff69;
    backdrop-filter: blur(5px);
    transform: translateX(-50%);
    text-shadow: 1px 1px 1px #000;
    border-left: 6px solid rgb(0 156 255 / 75%);
}

.welcome {
    border-bottom: 1px solid #000000;
    font-size: 22px;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 8px;
}

.home{
    margin: auto;
    padding-top: 12vh;
    padding-bottom: 12vh;
}



.uiz2 {
    list-style-type: none;
    display: flex;
    height: 106px;
    margin-bottom: 8px;
    border-bottom: 1px solid #3d4348;
    position: relative;
}

.uiz3.image {
    width: 230px;
    height: 106px;
}

.uiz3.text {
    display: table;
    overflow: hidden;
    max-height: 105px;
    padding-left: 10px;
}

.uiz4.title {
    padding-top: 4px;
}

.uiz5.title {
    padding-top: 2px;
    font-size: 18px;
    text-shadow: 2px 2px 5px black;
}

.uiz4.detailed {
    font-size: 16px;
    padding-bottom: 8px;
    color: rgb(255 255 255 / 90%);
    text-shadow: 2px 2px 5px black;
}

a {
    text-decoration: none;
    color: #ffffff;
}
.champions.title {
    position: static;
}